* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    color: #973ef6;
}

.main-navbar {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    width: auto;
    height: auto;
    z-index: 2;
}

.sticky {
    position: sticky;
    top: 0;
}

#navbar {
    background-color: var(--nav-color);
    border: 0 none #973ef6;
    border-bottom: 2px solid #973ef6;
    border-radius: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.1rem;
    height: 5.4rem;
}

.logo {
    padding-left: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    display: flex;
}

.logo a {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.nav-content {
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 0%;
    width: auto;
    height: auto;
    display: flex;
}

.flex-item {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li a {
    margin: 0.5rem;
    font-size: 1rem;
}

.theme-switch {
    height: 36px;
    width: 174.75px;
    margin: 8px 0 8px 0;
    padding: 0 16px 0 8px;
    min-height: auto;
    min-width: auto;
    display: flex;
}

.btn-1 {
    display: flex;
    height: 36px;
    width: 61.435px;
    border: 0px solid #363B3D;
    margin: 0 4px 0 4px;
    padding: 8px 12px 8px 12px;
    display: inline-flex;
}

.btn-2 {
    height: 36px;
    width: 73.3125px;
    border: 0px solid #363B3D;
    margin: 0 4px 0 4px;
    padding: 8px 12px 8px 12px;
    display: inline-flex;
}

/* .theme-switch {
    color: var(--main-heading-color);
    margin: 0px 4px 0px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 28px;
    height: 28px;
    cursor: pointer;
} */

.theme-logo {
    height: 28px;
    width: 28px;
    border: 0px solid #363B3D;
    margin: 4px 0 0 8px;
    line-height: 24px;
    font-size: 24px;
    text-decoration: none solid rgb(151, 67, 224);
    text-align: left;

}

.switch-1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    height: 36px;
    width: 65.438px;
    margin: 0 0px 0 0px;
    /* padding: 8px 12px 8px 12px; */
}

.switch-2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    height: 36px;
    width: 65.438px;
    margin: 0 0px 0 0px;
    /* padding: 8px 12px 8px 12px; */
}

.btn [type="submit"] {
    text-align: center;
    color: white;
    background-color: var(--accent-color-dark);
    border: none;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    margin: 0 0.25rem;
    border-radius: 0.5rem;
    /* box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 5px rgba(255, 255, 255, 0.35),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 3px 3px 5px black; */
    cursor: pointer;
}

.button-switch {
    display: flex;
    position: relative;
    bottom: 5px;
}

.tut-link {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 0.25rem, 0.25rem;
}


.link-second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    color: var(--accent-color-light);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
}

.link-second ul li a :hover {
    padding-bottom: 6px;
}

.icon {
    position: absolute;
    left: 10px;
}

.icon a {

    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 600;
    line-height: 1.75rem;
    font-size: 1.25rem;
    color: var(--accent-color-light);
}

.flex-item li a {
    text-decoration: none;
}

#home-icon {
    display: flex;
    position: relative;
}

ul li {

    text-decoration: none;
    list-style: none;
}

.search-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    line-height: 1.75rem;
    font-size: 1.25rem;
    color: var(--accent-color-light);
}

.search-icon i {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    right: 2rem;
    top: 6rem;
}

.dropdown-menu {
    display: none;
}

.section-1 {
    max-width: 1280px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 24rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sub-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 50%;
    height: 100%;
}

.welcome {
    display: block;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: var(--primary-text-color);
}

#sub-section-1 p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
}

.btn-2 {
    font-size: 0.75rem;
    line-height: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.95rem;
    padding-right: 0.95rem;
    border-radius: 0.25rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.section-button #free-course {
    color: var(--bg-color);
    background-color: var(--primary-text-color);
}

.section-button #free-course:hover {
    /* color: rgb(229 231 235);
    background-color: rgb(27, 33, 48); */
    opacity: 0.8;
}

.section-button #explore-blog {
    color: var(--secondary-text-color);
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--testimonial-bg-color);
}

.section-button #explore-blog:hover {
    /* color: rgb(17 24 39);
    background-color: rgba(55, 58, 65, 0.24); */
    opacity: 0.8;
}

#section-img {
    background: linear-gradient(to top, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(img/codewithdevinder.jpg) no-repeat center center/cover;
    height: 100%;
    width: 50%;
}

.section-2 {
    max-width: 1280px;
    margin-top: 0.5rem;
}

.main-heading {
    text-align: center;
    font-weight: 500;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
    color: var(--main-heading-color);
}

.card-container {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 0.5rem;
    flex-wrap: wrap;

}

.card-wrapper {
    width: 33.333%;
    padding: 1rem;

}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
    max-width: 24rem;
    margin: auto;
    border-radius: 1rem;

}

.card2-thumbnail img {
    height: 200px;
    width: 303px;
    padding: 10px;
}

.cards:hover {
    transform: translateY(-3px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.thumbnail {
    width: 100%;
    display: flex;
    /* width: 23rem; */
    height: 100%;
}

.thumbnail img {
    width: 100%;
}

.card1-thumbnail img {
    height: 200px;
    width: 303px;
    padding: 10px;
}

.contentpara {
    padding: 1rem 1.5rem;
    height: 13rem;
}

.s-h {
    font-size: 0.75rem;
    font-weight: 0, 75rem;
    line-height: 2rem;
    margin-bottom: 0.25rem;
    color: rgb(156 163 175);
    text-align: center;
    letter-spacing: 0.1rem;
}

.line-heading {
    color: var(--primary-text-color);
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
    text-align: left;
}

.contentpara p {
    display: block;
    color: var(--secondary-text-color);
    font-size: 1rem;
    line-height: 1.5rem;
}

.startwatching {
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    width: 100%;
}
.startwatching span{
    display: inline-block;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    padding: 0.5rem 0.75rem;
    margin: 1rem 0.5rem 0.5rem 0;
    background-color: var(--accent-color-dark);
    border-radius: 9999px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.startwatching span:hover {
    background-color: rgb(126 34 206);
    /* letter-spacing: 0.2rem; */
}



.testimonial-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    /* flex-wrap: wrap; */
    gap: 2rem;
}

.testimonial-card {
    min-height: 100%;
    background-color: var(--testimonial-bg-color);
    border-radius: 0.5rem;
    overflow: hidden;
}

.testi-content {
    padding: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.material-symbols-outlined {
    width: 1.25rem;
    height: 1.25rem;
    display: block !important;
    color: var(--secondary-text-color);
    font-size: 2rem !important;
    margin-bottom: 1rem;
    text-align: left !important;
}

.testi-content p {
    margin-bottom: 1.5rem;
    color: var(--secondary-text-color);
    line-height: 1.625;
    text-align: left;
}

.user-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 1rem;
}

.user-name .name {
    color: var(--primary-text-color);
    font-weight: 600;
}

.user-name .role {
    color: var(--secondary-text-color);
    font-size: .875rem;
    line-height: 1.25rem;
}

/* footer  */
footer {
    padding: 1rem 1.25rem;
    margin-top: 3rem;
    background-color: var(--nav-color);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo span {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-left: 0.75rem;
    color: var(--primary-text-color);
}

.copyright p {
    padding-left: 1rem;
    border-left: 2px solid var(--secondary-text-color);
    font-size: 0.875rem;
    line-height: 3.25rem;
    color: var(--secondary-text-color);
    text-align: center;
}